#body{
  background-image: url("../img/parallax-bg27.jpg");
}
.list{
  border-bottom: 1px solid cyan;
  padding-right: 5%;
  width: 30px;
}
.contentnav{
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}
.navbar{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 60px;
  padding: 10px 0;
  background: #1b1b1b87;
  /* background: transparent; */
}
.navbar .contentnav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  position: absolute;
  left: 80px;
  top: 40px;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
  position: absolute;
  top: 20px;
  right: 66px;
}
.menu-list li{
  list-style: none;
  text-align: left;
  padding-left: 0;
  margin-right: 100px;
  border-bottom: 1px solid cyan;
  width: 0px;
  height: 30px;
  margin-left: 10px;
  transition: all 0.3s ease;
}
.menu-list li:hover{
  width: 50px;
  margin-right: 50px;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: cyan;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
.menu-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}


::-webkit-scrollbar{
  width: 0;
}
.contents{
  height: 250px;
  width: 100%;
  margin: 0;
  margin-top: -80px;
  padding: 0;
  /* background-color: #f4f9f9; */
  /* background: linear-gradient(rgb(12 10 10 / 76%), rgb(0 0 0 / 74%)), url("../img/crowd2.jpeg"); */
  /* background-image: url("../img/crowd.jpg"), linear-gradient(#eb01a5, #d13531); */
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
.up{
  padding-bottom: 40%;
}
.status{
  padding-bottom: 15%;
}
/* .nextsec{
  height: 500px;
  width: 100%;
} */

.contcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    margin-top: -250px;
    z-index: 100;
    /* background-color: rebeccapurpl; */
}

.box{
    text-align: center;
    height: 150px;
}

.hours, .minutes, .seconds, .amorpm{
    width: 10em;
    height: 8em;
    /* background-color: rebeccapurple; */
    /* padding: 1em; */
    margin: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    /* box-shadow: 3px 3px 9px #542682, -3px -3px 9px #8048b8; */
}

#days, #hrs, #min, #sec{
    font-size: 5em;
    color: #fff;
    font-family: "Audiowide", sans-serif;
}

.box > h1{
    margin-top: -90px;
    font-size: 1em;
    color: #fff;
    font-family: "Audiowide", sans-serif;
}
/* event */
.events{
  height: 570px;
  padding: 0;
  /* margin-top: 10px; */
  display: block;
  z-index: 1;
}
.event-content{
  margin-top: 50px;
}
.content{
  position: relative;
  color: #131010ab;
  text-align: center;
  font-family: "Audiowide", sans-serif;
}
.content p{
  padding: 0;
  font-size: 20px;
}
.square{
  position: relative;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square span:nth-child(1){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  background-color: rgb(146 255 0 / 50%);
  transition: 0.5s;
  animation: animate 6s linear infinite;
}
.square span:nth-child(2){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  background-color: rgba(0, 0, 255, 0.5);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}
.square span:nth-child(3){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  background-color:rgb(255 255 255 / 81%);
  /* rgb(0 255 43 / 50%); */
  transition: 0.5s;
  animation: animate 10s linear infinite;
}
@keyframes animate {
   0%{
     transform: rotate(0deg);
   }
   100%{
     transform: rotate(360deg);
   }
}
.infoevent1{
  position: relative;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  margin-left: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.infoevent1 h2{
  font-size: 30px;
  font-family: "Audiowide", sans-serif;
}
.mic1{
  width:500px;
  height: 400px;
  margin-left: 116px;
  margin-top: -350px;
  transform: rotateZ(-40deg);
  opacity: .3;
  /* animation: mic 5s linear infinite; */
}
.mic2{
  width: 500px;
  height: 400px;
  margin-left: 265px;
  margin-top: -467px;
  transform: rotate(30deg);
  opacity: .3;
}
.pulse{
  margin-top: 300px;
  /* margin-left: 70px; */
  background-color: #422d2d66;
  width: 140px;
  border-radius: 50%;
  display: flex;
  padding-left: 2%;
  position:relative;
  animation: genpls 2s linear infinite;
  z-index: 10000;
}
@keyframes genpls {
  0%{
    background-color:#422d2d66;
  }
  50%{
    background-color: transparent;
  }
  100%{
    background-color: #422d2d66;
  }
}
.vid{
  margin-top: -410px;
  margin-left: 150px;
  width: 600px;
  /* height: 300px; */
  position: absolute;
  z-index: 1000;
}
.eureka{
  position: relative;
  z-index: 99;
  padding: 0;
  margin: 0;
  margin-top:-520px;
  margin-left: 150px;
  font-family: "Sofia", sans-serif;

}
.font-effect-neon{
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #0dcaf0, 0 0 0.6em #17a2b8, 0 0 0.8em #17a2b8, 0 0 1em #17a2b8, 0 0 1.2em #17a2b8;
  color: #fff;
}
/* middle */
/* balls */
.balls{

  display: flex;
  z-index: 10;
  /* justify-content: center; */
  /* align-items: center; */
}
.balls ul{
  margin-top: 220px;
  display: flex;
}
.balls ul li{
  width: 30px;
  height: 30px;

  background-color: black;
  list-style: none;
  margin:  0 10px;
  border-radius: 50%;
  animation: bouncy 6s linear infinite;
}
@keyframes bouncy {
  0%{ transform: translateY(0);}
  50%{ transform: translateY(-220px);}
  100%{ transform: translateY(0);}
}
.balls ul li:nth-child(1){
  animation-delay: 0.2s;
  background-color: #413c6926;
}
.balls ul li:nth-child(2){
  animation-delay: 0.9s;
  background-color: #4a47a347;
}
.balls ul li:nth-child(3){
  animation-delay: 1s;
  background-color: #e6d5b84d;
}
.balls ul li:nth-child(4){
  animation-delay: 0.3s;
  background-color: #5b6d5b66;
}
.balls ul li:nth-child(5){
  animation-delay: 0.10s;
  background-color: #f1466847;
}
footer{
    height: 80px;
    /* margin-top: 100px; */
    background-color: #2e2e2e;
    color: #fee474;

}
.map{
  margin-top: 50px;
  /* margin-left:  */
  height: 150px;
}
/* .footer-cont{
  margin-top: 20px;
} */
.gotoup{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: cyan;
  /* background-color: red; */
  cursor: pointer;
  float: right;
  margin-top: 590px;
  margin-right: 30px;
  z-index: 10000;
  display: flex;
  padding-top: 10px;
  justify-content: center;
  animation: goup 3s linear infinite;
}
@keyframes goup {
  0%{background-color:transparent;}
  50%{background-color: cyan;}
  100%{background-color: transparent;}
}
/* dot name */
.dotname{
  width: 100%;
  height: 100px;
  /* margin-top: 50px; */
  /* display:inline-block; */
  /* z-index:100; */
  /* position: fixed; */
  /* background-color: red; */
  /* background-image: url('../img/homepage-9-parallax.jpg'); */
}
.dotnamehead{
  color:grey;
  font-family: "Audiowide", sans-serif;
  text-align: center;
  /* margin-left: 600px; */
  /* padding-top: 50px; */
  /* position: fixed; */
}
.dots{
  width: 100px;
  height: 40px;
  display: flex;
  z-index: 100;
  /* background-color: green; */
  text-align: center;
  /* line-height: 80px; */
  margin-left: 770px;
  margin-top: -40px;
  /* position: fixed; */
}
.dots span:nth-child(1){
  font-size: 40px;
  color: blue;
  animation: animdot1 3s  linear infinite;
}
@keyframes animdot1 {
  0%{
    margin-left: -60px;
  }
  50%{
    margin-left: 0px;
    color: red;
  }
  100%{
    margin-left: -60px;
    color: blue;
  }
}
.dots span:nth-child(4){
  font-size: 40px;
  color:blue;
  animation: animdot1 3s linear infinite;
}
.dots span:nth-child(2){
  /* display: none; */
  font-size: 40px;
  color: blue;
  animation: animdot1 3s  linear infinite;
}
.dots span:nth-child(3){
  /* display: none; */
  font-size: 40px;
  color: blue;
  animation: animdot1 3s  linear infinite;
}
#ev{
  margin-top: 480px;
}
/* end */
/* moble view */
@media only screen and (max-width: 868px){
    .events{
      height: 800px;
    }
    .eureka{
      font-size: 30px;
      margin-left: 10px;
      margin-top: -130px;
    }
    .evntsdate{
      margin-top: 50px;
    }
    .square{
      width: 100px;
      height: 100px;
    }
    .infoevent1{
      width: 200px;
      height: 100px;
      margin-top: 15px;
      margin-left: 2px;
    }
    .pulse{
      width: 100px;
      height: 100px;
      margin-left: 110px;
      margin-top: 180px;
    }
    #btnplay{
      width: 10em;
      height: 7em;
    }
    #btnpause{
      width: 10em;
      height: 7em;
    }
    .mic1{
      margin-left: -15px;
      margin-top: -280px;
    }
    .mic2{
      margin-left: 80px;
      margin-top: -430px;
      transform: rotate(20deg);
    }
    .vid{
      margin-top: -380px;
      margin-left: 10px;
      width: 320px;
      /* height: 300px;
      position: absolute;
      z-index: 1000; */
    }
    .balls ul{
      /* display: none; */
      margin-top: 200px;
    }

    .contcontainer{
      width: 100px;
      display: inline;
    }
    .box{
      height: 5px;
    }
    .box > h1{
      margin-top: -360px;
      font-size: 20px;
      margin-left: 70px;
    }
    #hrs,#min,#sec,#days{
      font-size: 50px;
      margin-left: 30px;
      margin-top: -550px;
    }
    .hours, .minutes, .seconds, .amorpm{
        width: 7em;
        height: 1em;
        /* background-color: rebeccapurple; */
        /* padding: 1em; */
        margin: 3em;
    }
    .up{
      padding-bottom: 60%;
    }
    .logo{
      left:20px;
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu-list{
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      background: #222;
      display: block;
      padding: 40px 0;
      text-align: center;
      transition: all 0.3s ease;
    }
    .navbar .menu-list.active{
      left: 0;
    }
    .navbar .menu-list li{
      margin-top: 45px;
      margin-left: 150px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
    }

    .dots{
      margin-left: 270px;
    }
    .balls ul li:nth-child(1){
      background-color:#413c698c;
    }
    .balls ul li:nth-child(2){
      background-color:#4a47a38c;
    }
    .balls ul li:nth-child(3){
      background-color:#e6d5b875;
    }
    .balls ul li:nth-child(4){
      background-color:#5b6d5b8f;
    }
    .balls ul li:nth-child(5){
      background-color:#f1466869;
    }
}
